@media (min-width: 1024px) {
  .balans-paragraph {
    width: 960px;
  }

  .container {
    flex-direction: row;
    width: 960px;
  }

  .income-container,
  .outcome-container {
    width: 46%;
  }
}
