body {
  font-family: "Roboto Mono", monospace;
}

.blue-border {
  border: 5px solid #0d2137;
  border-radius: 5px;
  padding: 10px 0;
}

.orange-border {
  border: 5px solid #ff8e2b;
}

.green-border {
  border: 5px solid #238e23;
}

.fa-trash-alt,
.fa-edit,
.fa-save,
.fa-plus {
  pointer-events: none;
}
