body {
  font-family: "Roboto Mono", monospace;
}

.blue-background {
  border-radius: 5px;
  padding: 10px 0;
  background-color: #0d2137;
}

.orange-background {
  background-color: #f85b00;
}

.green-background {
  background-color: #238e23;
}

.fa-trash-alt,
.fa-edit,
.fa-save,
.fa-plus {
  pointer-events: none;
}
