h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: white;
}

p {
  font-size: 12px;
  text-align: center;
  color: #343435;
  line-height: 1.4;
}

.middle-size-text {
  font-size: 16px;
}

.fa-home {
  color: #0d2137;
  font-size: 80px;
}

.logo {
  margin: 20px auto;
  text-align: center;
}

.balans-paragraph {
  box-sizing: border-box;
  margin: 10px auto;
  width: 90%;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 0;
}

.flex-container {
  width: 99%;
  display: flex;
  justify-content: space-between;
}

.income-container,
.outcome-container {
  width: 90%;
  padding: 5px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #ff8e2b;
}

.income-container {
  background-color: #2e77ae;
}

.input-name,
.input-sum,
.edit-input-name,
.edit-input-price {
  box-sizing: border-box;
  width: 65%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
}

.input-sum {
  width: 20%;
}

.edit-input-name {
  width: 74%;
  border-radius: 5px;
  padding: 10px;
}

.edit-input-price {
  width: 25%;
  border-radius: 5px;
  padding: 10px;
}

.list-container {
  margin: 30px 0;
  width: 100%;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0eaf5;
  border-radius: 25px;
  font-size: 20px;
  padding: 7px;
  margin-bottom: 10px;
}

.para-list-item-container {
  flex: 1;
  margin: 0 5px 0 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.trash-btn,
.button-add,
.edit-btn,
.save-btn {
  border-radius: 50%;
  background-color: #f85b00;
  border-style: none;
  font-size: 18px;
  width: 40px;
  height: 40px;
  color: white;
}

.button-add {
  box-sizing: border-box;
  border: 3px solid white;
  background-color: transparent;
  font-weight: 500;
}

.edit-btn {
  background-color: #0d2137;
  margin-right: 5px;
}

.save-btn {
  border-radius: 50%;
  background-color: #238e23;
}

.sum-container {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 0;
  border-radius: 5px;
}
