@media (min-width: 768px) {
  h1 {
    font-size: 30px;
    margin: 20px 0;
  }

  p {
    font-size: 18px;
  }

  .middle-size-text {
    font-size: 22px;
  }

  .fa-home {
    font-size: 150px;
  }

  .logo {
    margin: 50px auto;
  }

  .balans-paragraph {
    margin: 30px auto;
  }

  .income-container,
  .outcome-container {
    padding: 15px;
  }

  .input-name,
  .input-sum,
  .edit-input-name,
  .edit-input-price {
    font-size: 20px;
  }
}
